spring:
  application:
    name: running-pacer

strava:
  client-id: ${STRAVA_CLIENT_ID}
  client-secret: ${STRAVA_CLIENT_SECRET}
  redirect-uri: "http://localhost:8080/oauth/strava/callback"
  webhook-verify-token: ${STRAVA_WEBHOOK_VERIFY_TOKEN}
  base-url: "https://www.strava.com"
  api-base-url: "https://www.strava.com/api/v3"