spring:
  datasource:
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  jpa:
    hibernate:
      ddl-auto: validate
  security:
    oauth2:
      client:
        registration:
          google:
            redirect-uri: ${APP_BASE_URL}/login/oauth2/code/google
logging:
  level:
    org.flywaydb: DEBUG
    root: INFO
    io.hansu.pacer: DEBUG


strava:
  client-id: ${STRAVA_CLIENT_ID}
  client-secret: ${STRAVA_CLIENT_SECRET}
  base-url: "https://www.strava.com"
  webhook-verify-token: ${STRAVA_WEBHOOK_VERIFY_TOKEN}
  redirect-uri: ${APP_BASE_URL}/oauth/strava/callback

management:
  endpoints:
    web:
      exposure:
        include: ${MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE:health,info}